@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

/* Font OPEN SANS*/




* {
	font-family: Avenir Next, Avenit Next Cyr, 'Open Sans', sans-serif;
}



.dropdown-menu {
	
}

.slider-wrapper {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
	justify-content: space-between;
	background-color: #000;
	align-items: center;
	align-content: center;
	margin: 3vh;
	padding: 1vh;
	/*padding: 3vh;*/
	border-radius: 12px;
	color: #fff;
}

.slide {
	border-radius: 12px;
}

