@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

/* Font OPEN SANS*/

.d-block {
	filter: contrast(120%);
}

.smile {
	font-size: 500%;
	color: yellow;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
}

body {
	font-family: Avenir Next, Avenir Next Cyr, 'Open Sans', sans-serif;
}


.dropdown-menu {
	
}

.slider-wrapper {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
	justify-content: space-between;
	background-color: #000;
	align-items: center;
	align-content: center;
	margin: 3vh;
	padding: 1vh;
	border-radius: 12px;
	color: #fff;
	height: 110%;
}

.slide {
	border-radius: 12px;
}

.collapse {
	margin-right: 1vw;
}