body {
	background-color: #1F1F1F;
	color: #000;
}

.jumbotron {
	background-color: #1F1F1F;
	color: #fff;
}

.card {
	background: #4E4E4E;
}

.icon-btn {
	padding-right: 5px;
}


.navbar {
	background-color: #343a40;
}

.nav-link {
	color: #fff;
	transition: all 0.15s ease-out 0.15s;
}

.nav-link:hover {
	color: #fff;
	opacity: 0.7;
}


