/*.jumbotron {
	margin-top: 150px;

}*/

h1 {
	font-family: 'Yeseva One', cursive;
}

.text-align-left {
	text-align: right;
}

.card {
	margin-top: 15px;
}

.icon-btn {
	padding-right: 5px;
}

nav .btn {
	margin-left: 10px;
}

.jumbotron .rozklad {
	padding: 0;
}


.nav-link {
	font-size: 80%;
}
