html { 
  background: url(img/wallpaper.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar {
	font-size: 12px;
	height: 23px;
	/*display: inline-flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;*/
    
}

.bold {
    font-weight: 800;
}

.navbar a {
    color: #fff;
}

.bg-gray {
    background: #1A212F;
}

.nav-l {
	height: 23px;
	margin-left: 0px;
	padding: 0;
}

.navbar a {
	font-size: 14px;
	padding: 17px;
	padding-top: 0px;
	padding-bottom: 0px;
	color: #fff;
	margin:0;
	height: 100%;
}

.navbar a:hover {
	
	color: #000;
	background: #fff;
}

li:hover {
    color:#000;
}

.nav-l img {
	margin-top: 0px;
}
